{{#if url}}
<div class="container mt-5">
  <h4 class="text-center">Success! Please use this link:</h4>
  <a href="/{{ url }}" id="link">http://localhost:3000/{{ url }}</a>
  <div class="d-grid gap-2 d-md-flex justify-content-center mt-3">
    <a class="btn btn-secondary" href="/" role="button">Back</a>
    <button class="btn btn-primary" type="button" onclick="copyLink()">Copy</button>
  </div>
  <div class="d-grid gap-2 d-md-flex justify-content-center mt-1">
    <img src="http://chart.apis.google.com/chart?cht=qr&choe=UTF-8&chs=300x300&chl=http://localhost:3000/{{ url }}" />
  </div>
</div>
{{else}}
<div class="container mt-3">
  <form action="/urls" method="POST" id="form" class="needs-validation" novalidate>
    <div class="row mb-4 g-2 justify-content-md-center">
      <div class="col-md-4 mt-5">
        <input type="url" name="url" class="form-control" id="url" placeholder="Input URL here" required>
        <div class="valid-feedback">
          Good!
        </div>
        <div class="invalid-feedback">
          Please input right web site address
        </div>
      </div>
    </div>
    <div class="d-grid gap-2 col-md-1 mx-auto">
      <button type="submit" class="btn btn-outline-primary">Shorten</button>
    </div>
  </form>
</div>
{{/if}}